<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel Planner</title>
    <!-- For details on what the following viewport meta tag and its related values do, see https://www.w3schools.com/css/css_rwd_viewport.asp
    Also, AND VERY IMPORTANTLY, note that the viewport meta tag below is required for responsive layout @media breakpoints to work properly in your CSS files.
    Without this viewport meta tag, response layouts won't update in Chrome DevTools' device toolbar.
    So, in summary, you won't be able to test different sized devices in Chrome DevTools without the viewport meta tag below. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

    <!-- My external style sheets -->
    <!-- Uncomment the minified main.css stylesheet line below when deploying to production.
    And then comment out the the "slow performing" inline stylesheets imports in the /src/client/index.js file when deploying to production.
    This will mean that the minified, "better performing" main.css file will be used for production.
    Side note: main.css is not available/built when WebPack is running in development mode, so inline stylesheets have to be used in development mode. 
    These inline stylesheets also works when Webpack is run in production mode, but the minified stylesheet below is preferred for production from a performance point of view. -->
    <!-- <link rel="stylesheet" href="/main.css"> -->
  </head>

  <body>
    <div id="app">
      <div class="holder-headline">Travel Planner</div>
      <div class="holder-location-name">
        <label for="location-name">Location</label>
        <input id="location-name" type="text" autofocus="autofocus" placeholder="Enter a location's name">
      </div>
      <div class="holder-departure-date">
        <label for="departure-date">Departure Date</label>
        <!-- A bit of inline JavaScript below to block out the selection of past dates,
        and only allow 16 days in the future to be selected using the HTML date element below
        (since the Weatherbit web API only supports 16 day weather forcasts from the present date).
        See the following URL for more info on adding days to a date (including the addDays prototype function below):
        https://stackoverflow.com/questions/563406/how-to-add-days-to-date -->
        <input type="date" id="departure-date" class="myInput" onfocus="
          this.min = new Date().toISOString().split('T')[0];
          Date.prototype.addDays = function(d){return new Date(this.valueOf()+864E5*d);};
          this.max = new Date().addDays(16).toISOString().split('T')[0];
          ">
        <button id="submit-button" type="submit">Submit</button>
      </div>
      <div class="holder-result">
        <div class="title">Results</div>
        <div class="result">
          <div id="location-name-result"></div>
          <div id="departure-date-result"></div>
          <div id="region-name-result"></div>
          <div id="country-name-result"></div>
          <div id="latitude-result"></div>
          <div id="longitude-result"></div>
          <div id="population-result"></div>
          <div id="departure-date-countdown-result"></div>
        </div>
      </div>
    </div>
  </body>
</html>