<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <!-- For details on what the following viewport meta tag and its related values do, see https://www.w3schools.com/css/css_rwd_viewport.asp
    Also, AND VERY IMPORTANTLY, note that the viewport meta tag below is required for responsive layout @media breakpoints to work properly in your CSS files.
    Without this viewport meta tag, response layouts won't update in Chrome DevTools' device toolbar.
    So, in summary, you won't be able to test different sized devices in Chrome DevTools without the viewport meta tag below. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

    <!-- My external style sheets -->
    <!-- Uncomment the minified main.css stylesheet line below when deploying to production.
    And then comment out the the "slow performing" inline stylesheets imports in the /src/client/index.js file when deploying to production.
    This will mean that the minified, "better performing" main.css file will be used for production.
    Side note: main.css is not available/built when WebPack is running in development mode, so inline stylesheets have to be used in development mode. 
    These inline stylesheets also works when Webpack is run in production mode, but the minified stylesheet below is preferred for production from a performance point of view. -->
    <!-- <link rel="stylesheet" href="/main.css"> -->
  </head>

  <body>
    <div id="app">
      <div class="holder-headline">
        Travel App
      </div>
      <div class="holder-place-name">
        <label for="place-name">Place name</label>
        <input id="place-name" type="text" placeholder="Enter a place's name">
      </div>
      <div class="holder-feel">
        <label for="feelings">How are you feeling today?</label>
        <textarea id="feelings" class="myInput" placeholder="Enter your feelings here" rows="9"></textarea>
        <button id="generate" type="submit">Generate</button>
      </div>
      <div class="holder-entry">
        <div class="title">Most Recent Entry</div>
        <div id="entry-holder" class="entry">
          <div id="date"></div> 
          <div id="temp"></div>
          <div id="content"></div>
        </div>
      </div>
    </div>
  </body>
</html>