<!DOCTYPE html>
<html>
  <!-- Head and metadata -->
  <head>
    <meta charset="utf-8"/>
    <title>Travel Planner</title>
    <meta name="description" content="Travel Planner"/>
    <meta name="author" content="Pieter Smith"/>
    <meta name="keywords" content="Travel Planner, Travel Weather"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- For details on what this viewport meta tag and its related values do, see https://www.w3schools.com/css/css_rwd_viewport.asp -->
    <meta name="theme-color" content="#4b9b69" /> <!-- Sets the color of the header bar and address bar in Android mobile browsers. -->

    <!-- Use fonts from Google Fonts - https://fonts.google.com/ -->
    <!-- Roboto Condensed for all body and element text, Lobster for titles. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- My external style sheets -->
    <!-- Uncomment the minified main.css stylesheet line below when deploying to production.
    And then comment out the the "slow performing" inline stylesheets imports in the /src/client/index.js file when deploying to production.
    This will mean that the minified, "better performing" main.css file will be used for production.
    Side note: main.css is not available/built when WebPack is running in development mode, so inline stylesheets have to be used in development mode. 
    These inline stylesheets also works when Webpack is run in production mode, but the minified stylesheet below is preferred for production from a performance point of view. -->
    <!-- <link rel="stylesheet" href="/main.css"> -->
  </head>

  <!-- Body -->
  <body class="box1">
    <!-- Page container grid -->
    <div id="page-container" class="box2">
      <!-- Header -->
      <div id="header-container" class="box3">
      </div>

      <!-- Location -->
      <div id="location-container" class="box3">
      </div>      

      <!-- Current weather -->
      <div id="weather-current-container" class="box3">
      </div>

      <!-- Arrival weather -->
      <div id="weather-arrival-container" class="box3">
      </div>
    </div>
  </body>
</html>
