/*
Arrival weather content CSS styles
*/
#weather-arrival-container {
  grid-area: weather-arival;
  display: flex;
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
  width: auto;
  height: auto;
  padding: 1rem;
}