/*
Destination content CSS styles
*/
#destination-container {
  grid-area: destination;
  /* display: flex; */
  display: none; /* Top-level flex container is hidden by default and only displayed when submit button is clicked. */
  flex-direction: column;
  color: var(--on-tertiary-container);
  padding: var(--spacing);
}
  

#destination-image-container {
  /* Position text over image method adapted from:
  https://www.w3schools.com/howto/howto_css_image_text.asp */
  position: relative;
  text-align: right;
  overflow: hidden;
}

#destination-image {
  width: 100%;
  height: 100%;
  border-radius: 8rem;
}

#destination-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-family: 'Lobster', cursive;
  color: var(--primary);
  text-shadow: 0.1875rem 0.1875rem var(--on-primary-container);
  padding: 0 0.075em 0.075em 0; /* Fixes Lobster font getting cut off on the right and bottom edges. */
  /* Default responsive design for narrow displays (e.g. mobile phones). */
  /* No longer used - Text auto-resize method below taken from: https://css-tricks.com/simplified-fluid-typography */
  /* font-size: clamp(16px, 9vw, 200px); */
  font-size: var(--font-size-xl);
  margin: 0 1.5em 0.45em 1.5em;
}

#geo-container {
  display: grid;
  grid-template-areas:
  "regionname"
  "countryname"
  "population"
  "countdown";
  padding: var(--spacing) var(--spacing) 0 var(--spacing);
  overflow: hidden;
  /* Setting the grid rows' heights to minmax(0, auto) below essentially hides the region name and population rows if they don't have any values.
  This is done by setting row's height to a minimum of "0" if it doesn't have a value, and to a maximum of "auto" if it does have a value.
  This works alongside the "document.getElementById('[region-name] or [population]').style.display = '[initial] or [none]'" code at the bottom of the retrieveData function in the src/client/js/app.js JavaScript file. */
  grid-template-rows: minmax(0, auto) auto minmax(0, auto);
}

#region-name {
  grid-area: regionname;
  font-weight: lighter;
  text-align: right;
  overflow: hidden;
}

#country-name {
  grid-area: countryname;
  font-weight: bold;
  text-align: right;
  overflow: hidden;
}

#population {
  grid-area: population;
  font-weight: lighter;
  text-align: right;
  overflow: hidden;
}

#date-countdown {
  grid-area: countdown;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--error-container);
  color: var(--on-error-container);
  font-size: var(--font-size-medium);
  border-radius: 2rem;
  padding: var(--spacing);
  margin-top: var(--spacing);
}

/* Responsive design for wider and the widest displays (e.g. tablets, monitors, and laptop screens). */
@media(min-width: 720px) {
  #destination-name {
    font-size: var(--font-size-humongous);
    margin: 0 0.55em 0.2em 0.55em;
  }

  #geo-container {
    grid-template-areas:
    "countdown regionname"
    "countdown countryname"
    "countdown population";
    column-gap: 2.5rem;
  }

  #date-countdown {
    margin-top: 0;
  }
}