/*
Destination content CSS styles
*/
#destination-container {
  grid-area: destination;
  display: flex;
  flex-direction: column;
  color: var(--on-secondary-container);
  padding: 1rem;
}

#destination-image-container {
  /* Position text over image method adapted from:
  https://www.w3schools.com/howto/howto_css_image_text.asp */
  position: relative;
  text-align: right;
  overflow: hidden;
}

#destination-image {
  width: 100%;
  border-radius: 8rem;
}

#destination-name {
  position: absolute;
  bottom: 0.25em;
  left: 64px;
  right: 64px;
  padding-bottom: 0.25em;
  padding-right: 0.5em;
  /*line-height: 2.2em;*/
  overflow: hidden;
  font-family: 'Lobster', cursive;
  color: var(--primary);
  text-shadow: 0.1875rem 0.1875rem var(--on-primary-container);
  /* Default responsive design for narrow displays (e.g. mobile phones). */
  /* Text auto-resize method below taken from: https://css-tricks.com/simplified-fluid-typography */
  font-size: clamp(16px, 9vw, 200px);
}

/* Responsive design for wider displays (e.g. tablets). */
@media(min-width: 540px) {
  #destination-name {
    /* Text auto-resize method below taken from: https://css-tricks.com/simplified-fluid-typography */
    font-size: clamp(16px, 11vw, 200px);
  }
}

/* Responsive design for the widest displays (e.g. monitors and laptop screens). */
@media(min-width: 1080px) {
  #destination-name {
    /* Text auto-resize method below taken from: https://css-tricks.com/simplified-fluid-typography */
    font-size: clamp(16px, 6.5vw, 200px);
  }
}