/*
Current weather content CSS styles
*/
#weather-current-container {
  grid-area: weather-current;
  display: flex;
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
  width: auto;
  height: auto;
  padding: 1rem;
}