/*
Weather content CSS styles
*/
#weather-current-container {
  grid-area: weather-current;
}

#weather-arrival-container {
  grid-area: weather-arrival;
}

.weather-container {
  display: flex;
  flex-direction: column;
  color: var(--on-tertiary-container);
  padding: var(--spacing);
}

.weather-title {
  font-family: 'Lobster', cursive;
  color: var(--tertiary);
  text-shadow: 0.125rem 0.125rem var(--on-tertiary-container);
}

.weather-main-grid {
  display: grid;
  color: var(--on-tertiary-container);
  padding: var(--spacing);
  background-color: var(--tertiary-container);
  border-radius: 2rem;
}

