/*
Global CSS styles
*/
body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f23557;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: grid;
  grid-template-areas:
  "headline"
  "locationname"
  "arrivaldate"
  "result";
  padding: 24px;
  color: #f0d43a;
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.holder-headline {
  grid-area: headline;
  font-size: 54px;
}

.holder-location-name-input {
  grid-area: locationname;
}

.holder-arrival-date-input {
  grid-area: arrivaldate;
}

.holder-result {
  grid-area: result;
}

.result {
  background: rgba(59, 74, 107, .4);
  width: 320px;
  min-height: 382px;
  padding: 8px;
}

/*  Basic styling to override default for basic HTML elements. */
label {
  display: block;
  font-size: 27px;
}

.title {
  font-size: 27px;
}

input {
  display: block;
  background:#22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
}

#location-name-input {
  height: 60px;
  width: 316px;
  padding-left: 8px;
  padding-right: 8px;
}

button {
  display: block;
  width: 332px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}

h1 {
  font-size: 36px;
}

textarea {
  background:#22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.myInput {
  width: 314px;
  resize: none;
  padding: 9px;
  margin-bottom: 120px;
}

/* Reset style for HTML element on active to have no border. */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for placeholder text. */
::placeholder { /* Firefox, Chrome, Opera. */ 
  color: #f0d43a; 
  font-family: 'Oswald', sans-serif;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11. */ 
  color: #f0d43a; 
  font-family: 'Oswald', sans-serif;
}
  
::-ms-input-placeholder { /* Microsoft Edge. */ 
  color: #f0d43a; 
  font-family: 'Oswald', sans-serif;
}

/* Responsive page layout for wider screens, i.e. for tablets and monitors. */
@media(min-width: 720px) {
  #app {
    grid-template-areas:
    "headline headline"
    "locationname result"
    "arrivaldate result";
  }
}